name: Pytest

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.14"]
        python-file: ["tests/", "main.py"]
        requirements: ["requirements.txt"]

    steps:
      - uses: actions/checkout@v4

      - name: Run matrix pytest action
        uses: ./.github/actions/pytest-action
        with:
          python-version: ${{ matrix.python-version }}
          file: ${{ matrix.python-file }}
